<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianchong.ordersystem.mapper.DcUserRoleMapper">
    <insert id="insertUserRole" parameterType="com.dianchong.ordersystem.entity.DcUserRole">
        INSERT INTO dc_user_role (USER_ID, ROLE_ID)
        VALUES (#{userId}, #{roleId})
    </insert>
</mapper>