<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianchong.ordersystem.mapper.DcUserMapper">
    <select id="queryUserInfo" resultType="com.dianchong.ordersystem.dto.UserResponse">
        select
        u.USER_ID as 'key', u.USERNAME, u.USER_ACCOUNT,
        r.ROLE_NAME, r.HIGHLIGHT_COLOR, u.CREATE_TIME,
        u.LAST_LOGIN_TIME, u.LOGIN_COUNT, u.IS_DISABLED as status
        from dc_user u
        join dc_user_role ur on u.user_id = ur.user_id
        join dc_role r on ur.role_id = r.role_id
        <where>
            <if test="username != null and username != ''">
                u.username like CONCAT ('%', #{username}, '%')
            </if>
            <if test="userAccount != null and userAccount != ''">
                u.user_account = #{userAccount}
            </if>
            <if test="status != null">
                and u.is_disabled = #{status}
            </if>
        </where>
    </select>

    <select id="queryByAccount" resultType="com.dianchong.ordersystem.entity.DcUser">
        select * from dc_user
        <where>
            USER_ACCOUNT = #{account}
        </where>
    </select>

    <update id="updateLoginInfo" parameterType="java.lang.String">
        UPDATE dc_user SET
            last_login_time = NOW(),
            login_count = COALESCE(login_count, 0) + 1
        WHERE USER_ACCOUNT = #{account}
    </update>

    <insert id="insertUser" parameterType="com.dianchong.ordersystem.entity.DcUser"
            useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO dc_user (USERNAME, USER_ACCOUNT, PASSWORD, IS_DISABLED, CREATE_TIME, UPDATE_TIME)
        VALUES (#{username}, #{userAccount}, #{password}, #{isDisabled}, NOW(), NOW())
    </insert>
</mapper>